@font-face {
	font-family: 'Roboto-Bold';
	src: url('assets/fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('assets/fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('assets/fonts/Roboto-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}		

@font-face {
	font-family: 'Models-Logo';
	src: url('assets/fonts/Models-Logo.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Roboto-Regular', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	flex: 1;
	width: 100%;
	min-width: 320px;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
}
header {
	text-align: left;
	padding: 10px 20px;
	background-color: #ffffff;
	color: #333;
}
header h1 {
	margin: 0;
	font-size: 2em;
	color: #2396da;
	font-family: 'Roboto-Bold', sans-serif;
}
header .subtitle {
	font-family: 'Models-Logo';
	color: #333;
	margin-top: 5px;
}
.content {
	display: flex;
	flex: 1;
}

.sidebar {
	opacity: 0.5;
	width: 72px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	margin: 0;
}
.sidebar .icon {
	width: 72px;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
}
.sidebar .icon img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(37%) sepia(100%) saturate(506%) hue-rotate(173deg) brightness(100%) contrast(200%);
}
.sidebar .icon:hover {
	background-color: #d6d8d9;
}
.sidebar .icon.active {
    background-color: #d6d8d9;
}

.sidebar .icon button {
    all: unset; /* Убираем все стандартные стили кнопки */
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sidebar .icon button img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(37%) sepia(100%) saturate(506%) hue-rotate(173deg) brightness(100%) contrast(200%);
}

.sidebar .icon button:hover {
    background-color: #d6d8d9;
}

.main-content {
	flex: 1;
	background-color: #ffffff;
	padding: 30px;
	position: relative;
}

.main-content::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background: linear-gradient(to bottom, #f0f0f0, #ffffff);
}

footer {
	text-align: center;
	padding: 20px 0;
	background-color: #ffffff;
	color: #333;
	font-family: 'Roboto-Bold', sans-serif;
}

footer .button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

footer .button-container button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 5px;
	padding: 8px 16px;
	cursor: pointer;
	font-family: 'Roboto-Bold', sans-serif;
	transition: background-color 0.3s ease;
}

footer .button-container button:hover {
	background-color: #d6d8d9;
}

footer .button-container button img.icon {
	width: 30px;
	height: 30px;
	margin-right: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-content button {
    background-color: #2396da;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #2396da;
}

.dashboard-content,
.adguard-content,
.info-content,
.settings-content {
    display: none;
}

.adguard-status-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#adguard-status {
    margin: 0;
}

.adguard-restart, .adguard-button {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  line-height: 22px;
  min-width: 92px;
  padding: 8px 12px;
  background-color: rgb(0, 151, 220);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  border: 1px solid rgb(0, 151, 220);
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.adguard-restart:hover, .adguard-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description-container {
    margin-bottom: 14px;
    background-color: #f9f9f9;
    border-left: 4px solid #2396da;
    border-radius: 5px;
    padding: 4px 12px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #333;
    display: inline-block;
}

.description-header {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: auto;
    white-space: nowrap;
}

.description-header h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.description-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease;
    margin-left: 6px;
    display: flex;
    align-items: center;
}

.description-toggle img {
    width: 15px;
    height: 15px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.description-toggle:hover img {
    opacity: 1;
}

.description-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.3s ease, width 0.4s ease;
    opacity: 0;
    width: 0;
}

.description-content.expanded {
    max-height: 500px;
    opacity: 1;
    width: 100%;
}

.description-content p {
    font-size: 14px;
    color: #2396da;
    margin-bottom: 8px;
    margin-top: 4px;
}

.description-content ul {
    padding-left: 20px;
    margin: 0 0 8px;
}

.description-content li {
    margin-bottom: 4px;
    list-style-type: disc;
    color: #333;
}

.password-container {
    width: 350px;
    border: 1px solid #ddd;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
    font-family: 'Roboto-Regular', sans-serif;
}

.password-container h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

#change-password-form {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.password-input {
	box-sizing: border-box;
	margin-bottom: 16px;
	max-width: 352px;
	width: 300px;
	position: relative;
}

.password-input label {
	box-sizing: border-box;
	border-radius: 2px;
	color: rgb(148, 155, 159);
	cursor: default;
	font-size: 12px;
	left: 12px;
	max-width: 85%;
	overflow: hidden;
	padding: 0px 2px;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;
	top: -7px;
	transition: top 0.2s, font-size 0.2s;
	user-select: none;
	animation: 0.2s linear 0s 1 normal none running _ngcontent-uig-c80_delay-pointer-events;
	background-color: rgb(255, 255, 255);
	pointer-events: auto;
}

.password-input input {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	background: none 0% 0% / auto repeat scroll padding-box border-box rgb(255, 255, 255);
	border: 1px solid rgb(235, 235, 235);
	border-radius: 4px;
	border-spacing: 2px;
	color: rgb(0, 0, 0);
	height: 40px;
	min-width: 75px;
	outline: rgb(0, 0, 0) none 0px;
	padding: 12px 35px 12px 12px;
	width: 100%;
	animation-name: _ngcontent-uig-c80_on-autofill-start;
	caret-color: rgb(0, 0, 0);
	transition: background-color 65536s ease-in-out;
}

.password-save-button {
    background-color: #2396da;
    color: white;
    border: 2px solid #2396da;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.password-save-button:hover {
    background-color: #1b7bb6;
    border-color: #1b7bb6;
    box-shadow: 0 0 10px rgba(35, 150, 218, 0.5);
}

#password-change-message {
	box-sizing: border-box;
	color: red;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}

.dashboard-body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 20px;
}

.dashboard-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.dashboard-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-policy-btn {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: background-color 0.3s;
}

.dashboard-policy-btn.active {
    background-color: #f0f0f0;
}

.dashboard-policy-btn:hover {
    background-color: #f0f0f0;
}

.dashboard-policy-btn .polici-name {
    font-family: 'Roboto-Bold', sans-serif;
}

.dashboard-policy-btn .interface-name {
    font-size: 12px;
    color: #666;
    font-family: 'Roboto-Italic', sans-serif;
    word-break: break-word;
}

.dashboard {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.dashboard-policies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-domain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.dashboard-domain .button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.dashboard-domain .button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-family: 'Roboto-Bold', sans-serif;
    transition: background-color 0.3s ease;
    background-color: #2396da;
    color: white;
}

.dashboard-domain .button-container button:hover {
    background-color: #1b7bb6;
}

#dashboard-domains-container {
    width: 600px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    min-height: 200px;
    font-family: 'Roboto-Regular', sans-serif;
    box-sizing: border-box;
}

#dashboard-add-field {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    padding: 5px 0;
}

.dashboard-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.dashboard-button {
    font-family: 'Roboto-Bold', sans-serif;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#dashboard-save {
    background-color: #2396da;
    color: white;
    border: 2px solid #2396da;
}

#dashboard-reset {
    background-color: white;
    color: #2396da;
    border: 2px solid #2396da;
}

.domain-entry-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.domain-entry {
    display: flex;
    align-items: center;
}

.domain-entry input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 1;
}

.domain-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #d6d8d9;
    border-radius: 4px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
    position: relative;
    flex-shrink: 0;
    margin-top: 0;
}

.domain-checkbox img {
  width: 10px;
  height: 8px;
  display: none;
  filter: invert(100%) brightness(100%) contrast(100%);
}

.domain-entry input[type="checkbox"]:checked + .domain-checkbox {
  background-color: #2396da;
  border-color: #2396da;
}

.domain-entry input[type="checkbox"]:checked + .domain-checkbox img {
  display: block;
}

.domain-content {
    flex: 1;
    width: calc(100% - 28px);
}

.domain-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2px;
    width: calc(100% - 5px);
}

.domain-controls input.description {
    width: calc(100% - 5px);
    padding: 4px;
    margin: 0;
    text-align: left;
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.domain-controls input.description:focus {
    border-bottom: 1px solid #ccc;
}

.domain-entry textarea {
    width: calc(100% - 5px);
    height: 100px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    resize: none;
    margin-bottom: 3px;
    box-sizing: border-box;
    word-break: keep-all;
}

.remove-container {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 5px);
    margin-top: -5px;
    padding-right: 5px;
}

.remove {
    display: inline-flex;
    align-items: center;
    background: none;
    border: none;
    color: #ff4d4d;
    cursor: pointer;
    font-family: 'Roboto-Italic', sans-serif;
    font-size: 14px;
    padding: 2px 0;
}

.remove .delete-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(100%) saturate(7495%) hue-rotate(356deg) brightness(100%) contrast(120%);
}

#dashboard-save:hover {
    box-shadow: 0 0 10px rgba(35, 150, 218, 0.5);
    border-color: #1b7bb6;
}

#dashboard-reset:hover {
    box-shadow: 0 0 10px rgba(35, 150, 218, 0.5);
    border-color: #1b7bb6;
}

.remove:hover {
    opacity: 0.8;
}

.dashboard-buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#load-from-github,
#load-from-url {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    padding: 5px 0;
}

.service-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    gap: 10px;
}

#service-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: contents;
}

#service-list li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

#dns-loader p {
    font-size: 16px;
    margin: 0;
}

#dns-progress {
    transition: width 0.15s linear;
}

#custom-url {
    width: 100%;
    padding: 10px 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Roboto-Regular', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

#custom-url:focus {
    border-color: #2396da;
    box-shadow: 0 0 4px rgba(35, 150, 218, 0.4);
}

.checkbox-label-text {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 14px;
    color: #333;
    margin-left: 8px;
}